<a href="https://colab.research.google.com/github/alirezasaharkhiz9/MyPythonWorkshop-at-FerdowsiUniversity/blob/main/Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditional Statements

in this lesson we'll learn:
1. Comparison Operators
2. Chained Comparison Operators
3. Useful Operators
4. if
5. elif
6. else

## Comparison Operators
In this lecture we will be learning about Comparison Operators in Python. These operators will allow us to compare variables and output a Boolean value (True or False). If you have any sort of background in Math, these operators should be very straight forward. First we'll present a table of the comparison operators and then work through some examples: <h3> Table of Comparison Operators </h3><p>  In the table below, a=3 and b=4.</p> <table class="table table-bordered"> <tr> <th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th> </tr> <tr> <td>==</td> <td>If the values of two operands are equal, then the condition becomes true.</td> <td> (a == b) is not true.</td> </tr> <tr> <td>!=</td> <td>If values of two operands are not equal, then condition becomes true.</td> <td>(a != b) is true</td> </tr> <tr> <td>&gt;</td> <td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td> <td> (a &gt; b) is not true.</td> </tr> <tr> <td>&lt;</td> <td>If the value of left operand is less than the value of right operand, then condition becomes true.</td> <td> (a &lt; b) is true.</td> </tr> <tr> <td>&gt;=</td> <td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td> <td> (a &gt;= b) is not true. </td> </tr> <tr> <td>&lt;=</td> <td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td> <td> (a &lt;= b) is true. </td> </tr> </table>

In [ ]:
15 == 15

True

In [ ]:
15 == 16

False

In [ ]:
15 < 15

False

In [ ]:
15 <= 15

True

In [ ]:
15 >= 17

False

In [ ]:
x = 15 * 20
y = 10 + 15
x == y

False

In [ ]:
15 != 16

True

## Chained Comparison Operators
An interesting feature of Python is the ability to chain multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: **and** and **or**.

## or

In [ ]:
(15 == 15) or (15 > 10)

True

In [ ]:
print(True or False)

True

In [ ]:
x = (15 == 15) or (15 > 10)
print(x)

True

## and

In [ ]:
True and False

False

## Useful Operators

### in operator

In [ ]:
x = [4, 5, 10]
4 in x

True

### not

In [ ]:
4 not in x

False

### is

In [ ]:
15 is 15

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-14-7b449fd71a56>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  15 is 15

True

### is Vs ==

In [ ]:
x = [4, 6, 1]
y = [4, 6, 1]
z = x

print(x == y)
print(x == z)
print(x is y)
print(x is z)

True
True
False
True

## if

In [ ]:
# if shart:
#   dastor

In [2]:
if True:
  print('Hello')

Hello

In [3]:
if False:
  print('a')

In [1]:
if 15 > 17:
  print('15 > 17')

In [4]:
x = 15
y = 15
if x != y:
  print('hello')

In [5]:
if x == y:
print('hello')

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-5-92a15ab4f63d>, line 2)

## elif

In [6]:
if 15 > 17:
  print('15 > 17')
elif 15 < 17:
  print('15 < 17')
elif 15 == 17:
  print('15 == 17')

15 < 17

## else

In [ ]:
if 15 > 17:
  print('15 > 17')
elif 15 < 17:
  print('15 < 17')
else:
  print('15 == 17')

In [10]:
age = 18
sex = 'male'
if age <= 10 and sex == 'male':
  print('kodak ast va pesar')
elif age <= 10 and sex == 'female':
  print('kodak ast va dokhtar')
elif (18 <= age >=10) and sex == 'male':
  print('nojavan ast va pesar')
elif (age > 10 and age < 18) and sex == 'female':
  print('nojavan ast va dokhtar')
elif age >= 18 and sex == 'male':
  print('bozorgsal ast va pesar')
elif age >= 18 and sex == 'female':
  print('bozorgsal ast va dokhtar')

nojavan ast va pesar