<a href="https://colab.research.google.com/github/alirezasaharkhiz9/MyPythonWorkshop-at-FerdowsiUniversity/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

in this lesson we'll learn:
1. range()
2. input()
3. Iterables
4. for Loops
5. while Loops
6. List Comprehensions
7. break, continue, pass
8. enumerate()

## range()

- range(start, stop, step)

In [8]:
range(1, 20)

range(1, 20)

In [10]:
list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
list(range(1.5, 20.5, 0.5))

TypeError: 'float' object cannot be interpreted as an integer

In [15]:
list(range(20, 200, 5))

[20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195]

In [18]:
list(range(200, 99, -5))

[200,
 195,
 190,
 185,
 180,
 175,
 170,
 165,
 160,
 155,
 150,
 145,
 140,
 135,
 130,
 125,
 120,
 115,
 110,
 105,
 100]

## input()

In [19]:
x = input('enter your number: ')
print(x)

enter your number: 45
45

In [20]:
x = input('text: ')
print(x)

text: alireza
alireza

In [21]:
x = input('text: ')
print(f'my name is {x}')

text: alireza
my name is alireza

In [22]:
x = input('number: ')
print(x + 10)

number: 10

TypeError: can only concatenate str (not "int") to str

In [23]:
x = input('number: ')
# x = '10'
x = int(x)
print(x + 10)

number: 10
20

## Iterables

- iterables ----> list, dict, tuple, set, string
- iterate : one by one check each item in the collection

In [ ]:
x = [1, 5, 8, 7]
'alireza'

## for Loops

In [24]:
for i in [1, 2, 3]:
  # i = 2
  print(i)

1
2
3

In [25]:
for i in [5, 10, 15]:
  print(i)

5
10
15

In [26]:
for i in [5, 10, 15]:
  print('hello')

hello
hello
hello

In [ ]:
for i in range(1, 30):
  print('hello')

In [27]:
for _ in range(1, 30):
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [29]:
for i in range(1, 101):
  if i % 2 == 0:
    print(f'{i} is even')

2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even
16 is even
18 is even
20 is even
22 is even
24 is even
26 is even
28 is even
30 is even
32 is even
34 is even
36 is even
38 is even
40 is even
42 is even
44 is even
46 is even
48 is even
50 is even
52 is even
54 is even
56 is even
58 is even
60 is even
62 is even
64 is even
66 is even
68 is even
70 is even
72 is even
74 is even
76 is even
78 is even
80 is even
82 is even
84 is even
86 is even
88 is even
90 is even
92 is even
94 is even
96 is even
98 is even
100 is even

In [30]:
for i in 'alireza':
  # i = 'a'
  print(i)

a
l
i
r
e
z
a

In [31]:
for i in 'alireza':
  print('hello')

hello
hello
hello
hello
hello
hello
hello

In [33]:
x = 'aaaaawooodkwojdwq8uwqqqq'
for i in x:
  if i == 'a':
    print('dorost')
  else:
    print('ghalat')

dorost
dorost
dorost
dorost
dorost
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat
ghalat

In [37]:
x = ['ali', 'reza', 'mamad']
for i in x:
  for j in i:
    if j == 'a':
      print(j)

a
a
a
a

## while Loops

In [ ]:
# while shart:
#   dastorat

In [38]:
x = 15
while x < 50:
  # x = 15
  print(x)
  x += 1
  # x = x + 1

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [39]:
print(x)

50

## List Comprehensions

## enumerate()